* {
	box-sizing: border-box;

}
body{

	font-family: 'Work Sans', sans-serif;
	font-size: 125%;
	padding: 5px;
	margin-left: 0;
	margin-right: 0;
}
h1{
	text-decoration: underline;
	text-align: center;
	text-transform: uppercase;
	text-decoration: bold;
	margin-top: 20px;
	font-family: 'Crimson Text', serif;
	font-size: 175%;

}

h3{
	font-family: 'Crimson Text', serif
	color: #ffffff;
	text-align: right;
	margin: 4px;
	position: relative;
	
}
.sections{
    background-color: #0057ff;
    padding: 5px;
    height: 700px;

}

p{
	padding: 8px;
}

.section1{
	background-color: #FF6F61;
	border: 1px solid black;
}

.section2{
	background-color: #009B77;
	border: 1px solid black;		
}

.section3{
	background-color: #DD4124;
	border: 1px solid black;	
}

/****************************** DESKTOP  ****************************/
@media (min-width: 992px) {
	.section1{
		width: 30.33%;
		float: left;
		margin: 13px;
		margin-top: 30px;
		
	}	

	.section2{
		width: 30.33%;
		float: left;
		margin: 13px;
		margin-top: 30px;
	}

	.section3{
		width: 30.33%;
		float: left;
		margin: 13px;
		margin-top: 30px;
	}
}

/******************************** TABLET  ***************************/
@media (min-width: 768px) and (max-width: 991px) {
	.section1{
		width: 49%;
		float: left;
		margin-top: 30px;
		margin-left: 4px;
		
	}	

	.section2{
		width: 49%;
		float: left;
		margin-top: 30px;
		margin-left: 10px;

		
	}

	.section3{
		width: 99%;
		margin: 5px;
		margin-top: 250px;
		clear: left;

	}
}

/******************************** MOBILE  ***************************/

@media (max-width: 767px) {
	.section1{
		margin: 10px;
		margin-top: 20px;
		
		
	}	

	.section2{
		margin: 10px;
		margin-top: 20px;
	}

	.section3{
		margin: 10px;
		margin-top: 20px;
}
